<?xml version="1.0"?>

<config>
    <modules>
        <Inchoo_Reviews>
            <version>1.0.0.1</version>
        </Inchoo_Reviews>
    </modules>
    <global>
        <blocks>
            <inchoo_reviews>
                <class>Inchoo_Reviews_Block</class>
            </inchoo_reviews>
        </blocks>
    </global>
</config>
